<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/CSS/bootstrap.min.CSS"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<img src="https://chelseainformation.files.wordpress.com/2013/06/chelsea-fc-0v.jpg" class="img-fluid" alt="...">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ที่อยู่
            </div>
            <div class="card-body">
                <div class="row">
                    CHELSEA FOOTBALL CLUB<br />
                    Stamford Bridge<br />
                    Fulham Road<br />
                    London<br />
                    SW6 1HS<br />
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ช่องทางการติดต่อ
            </div>
            <div class="card-body">
                <div class="row">
                    https://www.facebook.com/ChelseaFC<br />
                    https://twitter.com/chelseafc_thai<br />
                    https://www.instagram.com/chelseafc/<br />
                    https://www.youtube.com/chelseafc<br />
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>